<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceLauncher.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ServiceLauncher.Properties.Settings>
      <setting name="application_path" serializeAs="String">
        <value />
      </setting>
      <setting name="hide_progress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="launcher_main_title" serializeAs="String">
        <value>Launcher</value>
      </setting>
      <setting name="launcher_config_title" serializeAs="String">
        <value>Launcher Configuration</value>
      </setting>
      <setting name="launcher_tray_title" serializeAs="String">
        <value>Launcher</value>
      </setting>
      <setting name="launcher_related_keyword" serializeAs="String">
        <value />
      </setting>
      <setting name="launcher_services" serializeAs="String">
        <value />
      </setting>
      <setting name="application_path_label" serializeAs="String">
        <value>Path to application:</value>
      </setting>
      <setting name="application_path_filename" serializeAs="String">
        <value />
      </setting>
      <setting name="application_path_filter" serializeAs="String">
        <value>Executable|*.exe</value>
      </setting>
      <setting name="application_path_title" serializeAs="String">
        <value>Choose a program</value>
      </setting>
      <setting name="launch_limited" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="services_add_allow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="services_delete_allow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="services_add_title" serializeAs="String">
        <value>Add services</value>
      </setting>
      <setting name="launcher_tray_icon" serializeAs="String">
        <value />
      </setting>
      <setting name="launcher_wizard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trayicon_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="show_progress" serializeAs="String">
        <value>False</value>
      </setting>
    </ServiceLauncher.Properties.Settings>
  </userSettings>
</configuration>